node_modules
delme
dist
.cred
.prettierrc
.eslintrc
.gitlab-ci.bak
/docs/json
/docs/index.html
*.log
upload/
.DS_Store
.env
/src/charts-service/.env
/.idea

admin/project/static/admin/classic/resources/Admin-all_1.css
admin/project/static/admin/classic/resources/Admin-all_2.css
admin/project/static/admin/classic/resources/Admin-all_3.css
src/charts-service/.env
logs/